<div class="container" style="text-align: center; margin: 2%">
  <div><h1>{{ edicion ? "Actualizar rol" : "Registrar rol" }}</h1></div>
  <div>
    <form [formGroup]="form" (submit)="insertar()">
      <!-- <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="hcodigo" />
        <mat-error *ngIf="form.get('hcodigo')?.hasError('required')">
          El codigo es obligatorio
        </mat-error>
      </mat-form-field>
      <br/> -->

      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="hnombre" />
        <mat-error *ngIf="form.get('hnombre')?.hasError('required')">
          El nombre es obligatorio
        </mat-error>
      </mat-form-field>
      <br/>

      <div>
        <button mat-flat-button class="custom-button">{{ edicion ? "ACTUALIZAR" : "REGISTRAR" }}</button>
      </div>
    </form>
  </div>
</div>
